<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>notifications.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC854DD31C1192B7007E4233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC854DE21C1192B7007E4233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC854DED1C1192B7007E4233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
